.a1 {
    color: red;
    text-align: right;
    text-transform: uppercase;
    font-style: italic;
}

.a2 {
    color:blue;
    text-align: left;
    text-transform: lowercase;
    font-style: oblique;
}

.a3 {
    color: gold;
    text-align: center;
    text-transform: capitalize;
    font-style: inherit;
}